NationalParks.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Root -->
    <xs:element name="NationalParks">
        <xs:complexType>
            <xs:sequence>
                
                <!-- Multiple NationalPark elements allowed -->
                <xs:element name="NationalPark" maxOccurs="unbounded">
                    <xs:complexType>
                        
                        <!-- Left to Right -->
                        <xs:sequence>
                        
                            <!-- Name -->
                            <xs:element name="Name" type="xs:string"/>
                            
                            <!-- Phone (multiple) -->
                            <xs:element name="Phone" type="xs:string" maxOccurs="unbounded"/>
                            
                            <!-- Address -->
                            <xs:element name="Address">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Number" type="xs:int"/>
                                        <xs:element name="Street" type="xs:string"/>
                                        <xs:element name="City" type="xs:string"/>
                                        <xs:element name="State" type="xs:string"/>
                                        <xs:element name="Zip" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>

                        <!-- Attributes -->
                        
                        <!-- Optional attribute -->
                        <xs:attribute name="Rating" type="xs:decimal" use="optional"/>
                        
                        <!-- Required attribute -->
                        <xs:attribute name="NearestAirport" type="xs:string" use="required"/>

                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>