NationalParks.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            National Parks directory schema for CSE 445 Assignment 4
        </xsd:documentation>
    </xsd:annotation>
    <!-- Root Element -->
    <xsd:element name="NationalParks" type="NationalParksType"/>

    <xsd:complexType name="NationalParksType">
        <xsd:sequence>
            <xsd:element name="NationalPark" type="NationalParkType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <!-- Primary Elements -->
    <xsd:complexType name="NationalParkType">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="Rating" type="xsd:decimal" use="optional"/>
        <xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
    </xsd:complexType>
    <!-- Address Attributes -->
    <xsd:complexType name="AddressType">
        <xsd:sequence>
            <xsd:element name="Number" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="State" type="StateType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Zip" type="ZipType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <!-- Phone Number Format -->
    <xsd:simpleType name="PhoneType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{3}-\d{3}-\d{4}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <!-- State Abbreviation Format -->
    <xsd:simpleType name="StateType">
        <xsd:restriction base="xsd:string">
            <xsd:length value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <!-- Zip Code Format -->
    <xsd:simpleType name="ZipType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{5}(-\d{4})?"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>